<header>
   <h3 id="nav-brand">Bootcamp</h3>
   <div id="right-block">
      <% if (locals.user) { %>
         <a href="/"><%= locals.user.name  %> </a>
         <a href="/employee/sign-out">Logout</a>
     <% } else {%>
          <a href="/employee/signIn"> Login</a>
          <a href="/employee/signUp"> Register </a>
      <%} %>
   </div>
</header>