<div class="container">
    <div class="form-control">
     <h3>Login</h3>
     <form action="/employee/create-session" method="post">
          <input type="text" name="email" placeholder="Enter your username"> <br>                   
          <input type="password" name="password" placeholder="Enter your password"><br>
          <button type="submit">Sign In</button>                       
     </form>
    </div> 
</div> 