:root {
  --primary: rgba(255, 68, 0, 0.738);
  --secondary: rgb(11, 47, 68);
  --white: #fff;
  --success: rgb(23, 209, 23); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

header {
  background-color: #5b30b9;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }
  header #nav-brand {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.4px; }
  header #right-block a {
    margin: 0 1rem;
    text-decoration: none;
    color: #fff; }

.container {
  width: 50%;
  display: block;
  margin: auto;
  padding: 1rem 0; }

.container .form-control {
  width: 50%;
  display: block;
  margin: auto;
  padding: 0.5rem 0 1rem 1rem;
  background: #ffffff;
  box-shadow: 0px 5px 9px 1px #ececec;
  line-height: 2;
  border-bottom: 1px solid var(--primary); }
  .container .form-control h3 {
    color: #0b2f44;
    font-size: 1.5rem; }
  .container .form-control input[type="text"],
  .container .form-control input[type="password"] {
    width: 80%;
    padding: 1rem 0.4rem;
    margin: 0.5rem 0rem; }
  .container .form-control label[for="role"] {
    color: var(--primary);
    font-size: 0.8rem; }
  .container .form-control label[for="html"] {
    font-size: 0.8rem; }
  .container .form-control button {
    padding: 0.6rem;
    border: none;
    background: var(--primary);
    color: var(--white);
    cursor: pointer; }

#dashboard {
  display: flex;
  align-items: stretch;
  height: 100%; }
  #dashboard aside {
    width: 40%;
    background-color: white;
    height: 93vh;
    overflow-y: auto;
    transform: translateX(-500px);
    display: none; }
    #dashboard aside #aside-header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #dashboard aside #aside-header span {
        margin-right: 2rem;
        font-weight: bold;
        cursor: pointer; }
    #dashboard aside #heading {
      color: #e8e8e8;
      padding: 0.5rem;
      background: var(--secondary);
      display: inline-block;
      margin: 1rem 0 0 1rem;
      font-size: 0.7rem; }
    #dashboard aside .container {
      width: 100%; }
    #dashboard aside .container .form-control {
      width: 100%;
      box-shadow: none !important;
      border-bottom: none; }
      #dashboard aside .container .form-control label {
        font-size: 12px;
        font-weight: 600;
        color: darkblue; }
      #dashboard aside .container .form-control input[type="date"] {
        width: 80%;
        height: 30px;
        font-family: sans-serif;
        font-size: 0.7rem; }
      #dashboard aside .container .form-control .form-control-group {
        margin-bottom: 12px;
        padding: 1rem 0;
        border-top: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;
        line-height: 2.5; }
        #dashboard aside .container .form-control .form-control-group .label-heading {
          color: grey;
          font-weight: 400;
          font-size: 0.9rem; }
        #dashboard aside .container .form-control .form-control-group #scors-blocks {
          display: flex;
          justify-content: space-around;
          align-items: center; }
      #dashboard aside .container .form-control select {
        width: 80%; }
      #dashboard aside .container .form-control #collage-names,
      #dashboard aside .container .form-control #Placed-detail,
      #dashboard aside .container .form-control #companies-names {
        height: 40px;
        padding: 0.6rem; }
      #dashboard aside .container .form-control .scores {
        width: 100px;
        height: 40px;
        padding-left: 10px;
        border: 1px solid lightgrey; }
  #dashboard main {
    width: 100%;
    background: #f9f9f9;
    padding: 1rem; }
    #dashboard main #main-header {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      #dashboard main #main-header #heading {
        color: #e8e8e8;
        padding: 0.5rem;
        background: #1b3ecc;
        display: inline-block;
        margin: 1rem 0 0 1rem;
        font-size: 0.7rem;
        cursor: pointer; }
    #dashboard main .student-container {
      margin-top: 10px; }
      #dashboard main .student-container table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%; }
      #dashboard main .student-container th {
        background-color: #000;
        color: #fff; }
      #dashboard main .student-container td,
      #dashboard main .student-container th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight: 600;
        font-size: .8rem; }
      #dashboard main .student-container td {
        font-weight: 400;
        background: #fff; }
